<h1>Stories</h1>
<div class="row">
    {{#each stories}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    {{!-- user is user associated with stories --}}
                    {{!-- ../user is express global variable,we can't use req.user,we should go up one level from the scope --}}
                    {{!-- for parsing html we should use triple curly braces  --}}
                    {{{editIcon user ../user _id}}}
                </div>
                <div class="card-content center-align">
                    <h5>{{title}}</h5>
                    <p>{{stripTags (truncate body 150)}}</p>
                    <br>
                    <div class="chip">
                        {{!-- user associated with the stories --}}
                        <img src="{{user.image}}" alt="">
                        <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a href="/stories/{{_id}}" class="btn grey">Read More</a>
                </div>
                <div class="card-action center-align">
                    <a href="/stories/all/{{genre}}" class="btn grey">Read More of similar genre</a>
                </div>
            </div>
        </div>
    {{!-- if there is no stories this block will be xecuted --}}
    {{else}}
        <p>No stories to display</p>
    {{/each}}
</div>